<script lang="ts">
  import { base } from "$app/paths";

  export let quant: string;
  export let text: string;
  export let level = 0;
  export let src = ''

  $: translation = level < 0 ? 0 : level * 33
</script>

<div
  class="relative p-2 aspect-square z-20 bg-teal-600
        rounded-full transition-all duration-500 w-[60%]"
  style="transform: translateX(-{translation}%)">
  <a
    href="{base}/{src}"
    class="w-full h-full rounded-full flex flex-col items-center justify-center
          border border-dashed border-white"
  >
    <span>{quant}</span>
    <span>{text}</span>
  </a>
</div>
<slot />
