<script lang="ts">
  import { tweened } from "svelte/motion";
  import { cubicOut } from "svelte/easing";
  import { page } from "$app/stores";
  import Level from "./level.svelte";
  import { fade, scale } from "svelte/transition";

  export let index = 0;
  export let level: number;
  export let subItems: ItemInterface[];
  export let currentLevel: number;

  let currentSrc = $page.params.hasOwnProperty('pages')
    ? $page.params.pages.split('&').filter((item, key) => key < level - 1).join('&')
    : ''

  const currentBall = tweened(0, {
    duration: 500,
    easing: cubicOut
  });

  $: ballPos = (2 / subItems.length) * Math.PI;
  $: $page.params.pages, changeBall();

  function changeBall() {
    if ($page.params.hasOwnProperty("pages")) {
      const currentPage = $page.params.pages
      let currentValue = parseInt(currentPage.split('&')[level - 1] || currentPage);
      if (currentValue > subItems.length / 2)
        currentValue = -(subItems.length - currentValue);
      currentBall.set(currentValue);
      return;
    }
    currentBall.set(0);
  }

  $: showChildren =
    level === 1
      ? true
      : $page.params.hasOwnProperty("pages")
        ? $page.params.pages.split("&")[level - 2] === `${index}`
        : true;
</script>

{#if currentLevel - level >= -1 && showChildren}
  <div
    transition:scale={{ duration: 500, opacity: 0.5, easing: cubicOut }}
    class="absolute w-full h-full top-0 left-0
              border border-dashed border-black rounded-full"
  />
{/if}
{#if currentLevel - level >= -1 && showChildren}
  {#each subItems as item, key}
    {@const src = currentSrc ? `${currentSrc}&${key}` : key}
    <div
      transition:fade={{ duration: 500, easing: cubicOut }}
      class="absolute z-20 flex items-center justify-center
            transform -translate-x-1/2 -translate-y-1/2 origin-center aspect-square"
      style="width: 50%;
            top: {50 + Math.sin((key - $currentBall) * ballPos) * 50}%;
            left: {50 + Math.cos((key - $currentBall) * ballPos) * 50}%;"
    >
      <Level index={key} {src} {item} {level} />
    </div>
  {/each}
{/if}