<script lang="ts">
  import { page } from "$app/stores";
  import Ball from "$lib/ball.svelte";
  import Constellation from "$lib/constellation.svelte";

  export let index = 0;
  export let item: ItemInterface;
  export let level: number;
  export let src = "";

  $: currentLevel = $page.params.hasOwnProperty("pages")
    ? $page.params.pages.split("&").length
    : 0;
</script>

<Ball quant={item.quant} text={item.text} level={currentLevel - level} {src} />
{#if "subItems" in item && currentLevel >= level}
  <Constellation {currentLevel} level={level + 1} subItems={item.subItems} {index} />
{/if}
