<script lang="ts">
  import { page } from "$app/stores";
  import Level from "$lib/level.svelte";

  $: currentLevel = $page.params.hasOwnProperty("pages")
    ? $page.params.pages.split("&").length
    : 0;

  const currentItem = {
    quant: "1.1k",
    text: "Germany",
    subItems: [
      {
        quant: 120,
        text: "lalala",
        subItems: [
          {
            quant: 120,
            text: "lalala",
            subItems: [
              {
                quant: 120,
                text: "lalala",
                subItems: [
                  {
                    quant: 120,
                    text: "lalala",
                    subItems: [
                      {
                        quant: 120,
                        text: "lalala",
                        subItems: [
                          {
                            quant: 120,
                            text: "lalala",
                            subItems: [
                              { quant: 100, text: "lelele" },
                              { quant: 50, text: "lilili" },
                            ],
                          },
                        ],
                      },
                      { quant: 50, text: "lilili" },
                    ],
                  },
                ],
              },
              { quant: 50, text: "lilili" },
            ],
          },
          { quant: 100, text: "lelele" },
          { quant: 50, text: "lilili" },
          { quant: 150, text: "lololo" },
          { quant: 150, text: "lololo" },
        ],
      },
      { quant: 100, text: "lelele" },
      { quant: 50, text: "lilili" },
      { quant: 150, text: "lololo" },
      { quant: 150, text: "lololo" },
    ],
  };

  $: canvasSize = 75 * Math.pow(2, currentLevel);
</script>

<div
  class="relative flex items-center justify-center origin-center transition-all duration-500"
  style="min-width: {canvasSize}vmin;
    min-height: {canvasSize}vmin;
    width: {canvasSize}vmin;
    height: {canvasSize}vmin;
    transform: translateX({75 - canvasSize}vmin)"
>
  <Level level={0} item={currentItem} />
</div>
