@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;

  @apply flex items-center justify-center text-white overflow-clip;
}